[user]
	name = ethan_zhou
	email = 18201521626@139.com
; [url "https://hub.nuaa.cf/"]
; 	insteadOf = https://github.com/
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[safe]
	directory = /media/D/document/大二下/OSH
	directory = /media/D/document/24spring/mustrust
	directory = /media/D/document/24spring/OSH
	directory = /media/D/document/24spring/FreeRTOS-raspi3
	directory = /media/D/document/24spring/OSH/OSH_exp
	directory = /media/D/document/24spring/OSH/mustrust
	directory = /media/D/document/24fall/compile/lab0/2024_warm_up
	directory = /media/D/document/24fall/compile/lab0/2024_warm_up/2024ustc-jianmu-compiler
	directory = /media/D/document/24fall/compile/lab1/2024ustc-jianmu-compiler
	directory = /media/D/document/24fall/Compile/lab1/2024ustc-jianmu-compiler
	directory = /media/D/document/algo
