move_down           j
move_up             k
#move_left           h
#move_right          l

toggle_two_page_mode <f6>

# Goto forward for one page width. (can be prefixed with a number)
# (note that going forward for one page width is not usually what you want because if
# the page is larger than the screen you will miss some content. What you usually want is screen_down)
next_page J
previous_page K

# Go down one screen width (can be prefixed with a number which tells how many screen widths should we go down)
screen_down <C-d>
screen_up <C-u>
screen_down <C-f>
screen_up <C-b>
